/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
    background-color: var(--white);
}

.container{
    max-width: 600px;
    margin: 0 auto;

}

/* CREO FLEX E VARIANTI DA ASSEGNARE IN SEGUITO */
.d-flex{
    display: flex;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.jcontent-between{
    justify-content: space-between;
}

.jcontent-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.flex-start{
    justify-content: flex-start;
}

.debug{
    border: 1px solid black;
}
/* PALETTE COLORI */
:root{
   --black: #000;
   --white: #fff;
   --light-black: #333333;
   --orange: #FDC15F;
   --bg-color: #0081FD;
   --text-violet: #0084FD;
   --color-icon: #9792E4;
   --color-bg-1: rgb(188, 221, 252);
}

/* MODIFICO PROPRIETA GENERALI */
.bg-color-violet{
    background-color: var(--color-icon);
}

/* MODIFICO HEADER */
header{
    background-color: var(--text-violet);
    color: var(--white);
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
    position: sticky;
    top:0;
    z-index: 1000;
}

#d-none{
    display: none;
}

#logo-header{
    font-size: 2rem;
}



/* MODIFICO SEZIONE 1 */
.card{
    background-color: var(--color-bg-1);
    padding: 0 3rem;
    border-radius: 1rem;
    text-align: center;
    margin: 2rem 0;
}

h4{
    font-size: 1.5rem;
}

 img{
    width: 100%;
}

.icon{
    font-size: 3rem;
}

.card h3, .icon, h4{
    color: var(--text-violet);
    margin-bottom: 2.5rem;
}

.btn{
    background-color: var(--bg-color);
    color: var(--white);
    font-size: 1.5rem;
    padding: 0.90rem;
    border-radius: 1rem;
    margin-top: 1.5rem;

}

.card p{
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

/* SEZIONE 2 */
.left-2, .right-2{
    padding: 4rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

.left-2, .left-2 h4{
    color: var(--white);
}
.right-2{
    background-color: var(--white);
}

.right-2 h5{
    font-size: 1.5rem;
    margin: 1rem 0;
}
.right-2 p{
    margin: 1.5rem 0;
    line-height: 3rem;
    font-family: 'PT Sans', sans-serif;
}
.right-2{
    margin-bottom: 2rem;
}

.btn-2{
    background-color: var(--color-icon);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    align-items: center;
    
}

/* SEZIONE 3 */
.card-2-2{
    background-color: var(--color-icon);
    padding: 3rem;
    border-radius: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.img-circle img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
}
.testimonianza{
    color: var(--white);
    line-height: 2rem;
}

.card-1-2, .card-2-2{
    text-align: center;
}

.titolo3{
    margin: 2rem 0;
    font-size: 2rem;
}

.card-1-2 h2{
    line-height: 2rem;
    font-size: 1.7rem;
    color: var(--color-icon);

}

.card-1-2 p{
    line-height: 2rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}

.name{
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-2{
    position: relative;
}

.fa-arrow-down{
    position: absolute;
    top:30%;
    left:35%;   
}

/* SEZIONE 4 */

.card-4{
    background-color: var(--white);
    padding: 3rem;
    border-radius: 1rem;
    padding: 0 5rem;
    margin-bottom: 2rem;
}
.title-4{
    color: var(--white);
    font-size: 2rem;
    margin: 2rem 0;
    text-align: center;
}

.subtitle-4, .description-4{
    color: var(--color-icon);
    padding: 0.75rem 0;
    font-size: 2rem;
}
.subtitle-4{
    margin-top: 2rem;
}

.p-4{
    line-height: 2rem;
}

.btn-4, .btn-5, .btn-6{
    background-color: var(--color-icon);
    color: var(--white);
    font-size: 1.5rem;
    padding: 0.50rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    max-width: 10rem;
    text-align: center;
}

/* SEZIONE 5 */

.title-5, .subimg-5{
    font-size: 2rem;
    color: var(--color-icon);
    padding: 2rem 0;
}

.p-5{
    padding: 0.75rem;
    line-height: 2rem;
}

.title-5{
    text-align: center;
}

.container-5 img{
    margin-top: 2rem;
}
.img-circle img{
    position: relative;
}

.btn-5{
font-size: 1rem;
max-width: 13rem;
}

.apice{
    color: var(--color-icon);
    font-size: 3rem;
    position: absolute;
    top: 50;
    right: 50;
    z-index: 50;
}

/* SEZIONE 6 */

.start{
    color: rgb(213, 213, 241);
    padding-top: 2rem;
}

.subtitle-6, .p-6, .diritti{
    color: var(--white);
}

.subtitle-6{
    font-size: 2rem;
}

.p-6, .diritti{
    font-size: 1.2rem;
}

.title-6{
    color: var(--orange);
    font-size: 3rem;
}

.subtitle-6, .p-6{
    padding: 2rem 0;
}

.btn-6{
    background-color: var(--white);
    color: var(--color-icon);
    padding: 0.50rem;
    font-size: 1rem;
    width: 14rem;
}

.diritti{
    margin-bottom: 2rem;
}

/* MODIFICO FOOTER */
footer{
    background-color: var(--light-black);
}

.link{
    color: #0081FD;
    text-decoration: underline;
}

footer p{
    color: var(--white);
    padding: 2rem 0;
    text-align: center;

}

/* MEDIA QUERIES PER TABLET  992px*/
@media screen and (min-width: 992px){
    .container{
        max-width: 950px;
        

    }
    .container-cards{
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }
    .card{
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33,33% - 1.5rem);
        
    }
    .card-1-left{
        width: calc(66,66% -1.5rem);
    }

    /* SEZIONE 3 */
    .img-circle{
        width: 30%;
    }
    .testimonianza{
        width: 70%;
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .card-2-2{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }

    /* SEZIONE 4 */
    .container-4{
        display: flex;
        flex-flow: row wrap;
        margin-right: -0.75rem;
    }
    .card-4{
        width: calc((100% - 1.5rem) / 2); 
        margin-right: 0.75rem;
    }

}

/* MEDIA QUERIES PER DESKTOP A 1200PX */

